.upper-layout{
    z-index: 1;
}

.lower-layout{
    z-index: 0;
}

.header{
    position: absolute;
}

.my-content{
    position: absolute;
    top: 0px;
}

.selected {
    background-color: #42b3f4 !important;
}