body {
    font-family: Tahoma;
    font-size: 13px;
    margin: 0;
    padding: 0;
}
/*-------------------------MENU TOP------------------------------*/
.menu-top {
    position: absolute !important;
    margin: 0px;
    width: 1366px;
    right: auto;
    left: 0px;
    top: 0px;
    height: 50px;
}
/*-------------------------MENU LEFT------------------------------*/
.menu-left {
    position: absolute !important;
    width: 230px;
    margin: 0px;
    right: auto;
    left: 0px;
    top: 50px;
    height: 201px;
}
/*-------------------------CONTENT RIGHT------------------------------*/
.content-right {
    position: absolute !important;
    margin: 0px;
    width: 1136px;
    right: auto;
    left: 230px;
    top: 50px;
    height: 201px;
}
/*----------------------------PROFILE ADD------------------------------*/
.profile-add {
    position: absolute !important;
    margin: 0px;
    width: 1136px;
    right: auto;
    left: 230px;
    top: 50px;
    height: 250px;
    /*display: none;*/
}
.profile-add-inner {
    width: 1136px;
    left: 0px;
    top: 0px;
    height: 250px;
}

.pa-header {
    margin: 0px;
    right: auto;
    left: 0px;
    width: 1136px;
    top: 0px;
    height: 65px;
    box-shadow: #888 0 0 10px;
}

.pa-title {
    width: 1136px;
    left: 0px;
    top: 0px;
    height: 34px;
    display: table;
    font-size: 12px;
    font-family: Helvetica,Tahoma,Arial,sans-serif !important;
    color: #1d2129;
}
.pa-br-item {
    display: inline-block;
    line-height: 34px;
    padding-left: 12px;
    font-weight: bold;
}

.pa-profile {
    text-decoration: none;
    color: #0277bd;
    font-size: 16px;
}

.pa-sp {
    background: url('../Images/arr_right.png') no-repeat center center;
    width: 16px;
    height: 16px;
    margin: 0 0 -2px 11px;
}

.pa-add-new {
    color: #000;
    font-size: 16px;
    padding-left: 2px !important;
    font-family: Helvetica,Tahoma,Arial,sans-serif !important;
    color: #1d2129;
}
/*---------------------TOOLBAR---------------------------------*/
.pa-toolbar {
    width: 1136px;
    right: auto;
    left: 0px;
    top: 34px;
    border-bottom: none;
    background-color: #fff;
    padding: 0 0 0 16px;
    border-width: 1px 0 !important;
    border-color: #d9d9d9;
    position: absolute !important;
    z-index: 2;
    border-top: 1px solid #92929285;
}
.pa-toolbar-inner {
    width: 1120px;
    height: 30px;
    overflow: hidden;
    position: relative;
    left: 0;
    top: 0;
}
.pa-btn {
    position: absolute !important;
    top: -1px !important;
    margin-right: 6px;
    display: inline-block;
    cursor: pointer;
    min-height: 30px;
    padding: 4px;
    text-decoration: none !important;
}
.pa-btn:hover{
    background-color: rgba(2, 119, 189, 0.15);
}
.pa-btn-inner {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}
.pa-btn-icon {
    height: 24px;
    width: 24px;
}
.pa-btn-name {
    font-size: 12px;
    font-family: Helvetica,Tahoma,Arial,sans-serif !important;
    color: #1d2129;
    padding: 0 6px;
}
#pa-btnCut {
    background: url('../Images/save16.png') no-repeat center center;
}
#pa-btnCutAdd {
    background: url('../Images/saveadd16.png') no-repeat center center;
}
#pa-btnReject {
    background: url('../Images/reject16.png') no-repeat center center;
}
#pa-btnSetting {
    background: url('../Images/setting16.png') no-repeat center center;
}
#pa-btnHelp {
    background: url('../Images/question16.png') no-repeat center center;
}
#pa-btnResponse {
    background: url('../Images/sound16.png') no-repeat center center;
}
#pa-btnClose {
    background: url('../Images/close16.png') no-repeat center center;
}
/*-----------------------BASIC INFO---------------------------------*/
.pa-basic-info {
    width: 1136px;
    left: 0px;
    top: 71px;
    height: 179px;
    position: absolute;
}
.pa-basic-info-inner {
    width: 1136px;
    left: 0px;
    top: 0px;
    height: 179px;
    font-size: 13px;
    font-family: Helvetica,Tahoma,Arial,sans-serif !important;
    color: #1d2129;
}
.pa-basic-info-inner-wrap {
    height: 2986px;
    width: 1119px;
    position: relative;
    left: 0;
    top: 0;
}
.pa-basic-info-box {
    margin: 0px;
    right: auto;
    left: 16px;
    width: 1087px;
    height: 909px;
    top: 6px;
    box-shadow: #888 0 2px 6px;
    border-radius: 4px;
    position: absolute !important;
}
.pa-basic-info-header {
    width: 1087px;
    right: auto;
    left: 0px;
    top: 0px;
    padding: 20px 16px 0 16px;
    position: absolute !important;
    z-index: 2;
}
.pa-basic-info-title {
    width: 1055px;
    height: 33px;
    position: relative;
    left: 0;
    top: 0;
    display: table;
    table-layout: fixed;
    text-align: left;
    background: url('../Images/panel-header-bg.png') repeat 0 center;
}
.pa-basic-info-title-inner {
    display: inline-block;
    padding: 0 10px 0 0;
    background-color: #fff;
    color: #0c68b5;
    font-size: 16px;
    margin-top: 6px;
}
/*-------------------------------------PANEL INFO (BOTTOM CONTENT)-------------------------*/
.pa-panel {
    width: 1087px;
    left: 0px;
    top: 53px;
    height: 856px;
    border-top: none !important;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-top: 0;
    position: relative;
}
.pa-panel-inner {
    width: 100%;
    table-layout: fixed;
    display: table;
    font-size: 13px;
    font-family: Helvetica,Tahoma,Arial,sans-serif !important;
    color: #1d2129;
    /*display: table-cell;*/
    height: 100%;
    vertical-align: top;
}
.pa-row {
    display: flex;
    padding-top: 8px;
}
.pa-col {
    padding-left: 8px;
}
.pa-row .m-col:first-child {
    padding-left: 0;
}
.pa-row:first-child {
    padding-top: 0;
}
.pa-avatar {
    width: 120px;
    position: relative;
}
.pa-user-image {
    width: 120px;
    height: 150px;
}
.pa-choose-img {
    position: absolute;
    top: 120px;
    width: 120px;
    line-height: 28px;
    background-color: #757879;
    text-align: center;
    color: #fff;
    cursor: pointer;
}